@charset "UTF-8";


#matchbody {
	/* display: flex;  
	align-items: center; */
	justify-content: center; 
	height: 100vh;
	margin: 0;
	background-color: #F4EAE0;
}

.profile {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* 이미지 비율 유지 */
	border-radius: 50%;
	
	overflow: hidden;
	border-radius: 50%;
	width: 110px;
	/* 이미지 크기에 맞게 조절하세요 */
	height: 110px;
	/* 이미지 크기에 맞게 조절하세요 */
	
	 margin-left: 5%;
	 margin-bottom: 10px;
}

/* 내 스터디 매칭된 그룸 뒷 배경 */
.MyStudyGruop-Back {
	position: absolute;
	background: rgba(192, 192, 192, 0.13);
	width: 850px;
	height: 250px;
	left: 352px;
	top: 214px;
}

#mygroup{
	background: rgba(81, 116, 190, 0.4);
	border-radius: 10px;
	color: #ffffff;	
	font-weight: bold;
	font-size: 18px;
	float: right;
	margin-right: 40px;
}

.MatchHistory {
	position: absolute;
	background: rgba(192, 192, 192, 0.13);
	width: 850px;
	height: 540px;
	left: 352px;
	top: 500px;
}

.matching {
	margin-left: 10px;
	color: #5174BE;
}

#Matching{
	font-size: 40px;
	font-weight: bold;
}

#group, #history{
	font-size: 25px;
	font-weight: bold;
}

.font{
	margin-left: 10px;
}

#name{
	word-spacing:95px;
	margin-left: 50px;
	font-weight: bold;
	font-size: 18px;
	margin-right: 10px;
}

#plus{
	font-weight: bold;
}