@charset "UTF-8";

#registHead{
	color: #5174BE;
	font-weight: 900;
	font-size: 40px;
	line-height: 130px;
}

#registDiv{
	height: 850px;
}

#table{
	height: 600px;
}

.registTd, .registInput, .interest{
	margin: 5px;
	border: none;
}
.registTd{
	font-size: 17px;
	font-weight: 600;
}

.registInput{
	width: 14.5em;
	height: 1.6em;
}

#RegistButton, #idCheck{
	background-color: #5174BE;
	opacity: 0.6;
	font-weight: bold;
	color: #fff;
	border-radius: 10px;
	border: none;
}

#idCheck{
	font-size: 14px;
	width: 90px;
	height: 28px;
}

#RegistButton{
	text-align: center;
	font-size: 20px;
	width: 250px;
	height: 34px;
	letter-spacing: 20px;
}