<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>StudyMatch</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>OracleDriver</param-name>
		<param-value>oracle.jdbc.OracleDriver</param-value>
	</context-param>
	<context-param>
		<param-name>OracleURL</param-name>
		<param-value>c##matchmate</param-value>
	</context-param>
	<context-param>
		<param-name>OraclePwd</param-name>
		<param-value>1234</param-value>
	</context-param>

	<!-- 세션 -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<!-- 게시판 -->
	<servlet>
		<servlet-name>BoardList</servlet-name>
		<servlet-class>servlet.ListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardList</servlet-name>
		<url-pattern>/board/list.do</url-pattern>
	</servlet-mapping>

	<!-- image 용량 -->
	<context-param>
		<param-name>maxPostSize</param-name>
		<param-value>1024000</param-value>
	</context-param>

	<!-- 로그인 -->
	<servlet>
		<servlet-name>LoginAuth</servlet-name>
		<servlet-class>servlet.LoginAuth</servlet-class>
		<init-param>
			<param-name>admin_id</param-name>
			<param-value>matchmate1</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginAuth</servlet-name>
		<url-pattern>/servlet/loginAuth.do</url-pattern>
	</servlet-mapping>
</web-app>